{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "commonjs": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "no-plusplus": 0,
    "one-var": 0,
    "linebreak-style": 0,
    "no-mixed-operators": 0,
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "no-restricted-globals": "off",
    "arrow-parens": 0,
    "max-len": 0,
    "curly": ["error", "multi"],
    "import/no-unresolved": [
      2,
      {
        "devDependencies": true
      }
    ],
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true
      }
    ]
  }
}
