#turn-counter {
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: 'Overpass', sans-serif;
}

#turn-counter::before {
  content: "Turn ";
}

#next-turn-overlay {
  height: 128px;
  bottom: 0;
  right: 0;
  position: absolute;
}

#next-turn-button {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}