@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#loadingScreen {
  text-align: center;

  font-family: 'Roboto', sans-serif;

  color: white;
  background-color: black;
  height: 100vh !important;
  width: 100vw !important;

  display: flex;
  justify-content: center;
  align-items: center;
}
